<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to <%= title %></h1>
    <img src="https://pages.git.generalassemb.ly/SEI-Standard-Curriculum/SEIR-Course-Materials/Unit_2/5-apis/assets/cats-header.png">
    <br>
    <a href="/cats/fact">Do Not Click This</a>
  </body>
</html>
